@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Montserrat&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Montserrat:wght@200&family=Ubuntu:wght@500&display=swap');
.content{
    display: grid;
    grid-template-columns: auto;
    font-family: Montserrat;
    padding: 6rem 6rem;
    font-size: 1.5rem;
}
.content h1{
    font-size: 3rem;
    font-family: Ubuntu;
}
.content h3{
    font-family: Ubuntu;
}
.content > *{
    margin:1rem;
}
input{
    border-radius: 8px;
}
textarea{
    border-radius: 8px;
}
#btn{
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1.5rem;
    background-color: #1778F2;
    width: 8rem;
    height: 3rem;
}
#btn:hover{
    background-color: #0063DC;
}

