@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Montserrat&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Montserrat:wght@200&family=Ubuntu:wght@500&display=swap');
.content{
    font-family: Montserrat;
    padding: 6rem 6rem;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content h1{
    font-size: 3rem;
    font-family: Ubuntu;
}
.contact-form{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    margin-left:52.5rem ;
}
input{
    margin: -5px;
    width: 25%;
}
input[type="number"]{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
input[type="submit"]{
    color: white;
    font-family: Ubuntu;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #1778F2;
}
input[type="submit"]:hover{
    background-color: #0063DC;
}
input[type="email"]{
    margin-top: -10px;
    margin-bottom: -10px;
}
input[type="text"]{
    margin-bottom: -10px;
}
input:focus{
outline: none;
}
input:placeholder-shown{
    font-family: Ubuntu;
}